#reloj {
  height: 350px;
  width: 650px;
  background: with;
  clear: both;
  position: relative; }

.display {
  height: 100%; }

.numero {
  color: black;
  float: left;
  font-size: 40px;
  height: 100%;
  line-height: 300px;
  margin: 0 7px 0 7px;
  text-align: center;
  width: 130px; }

.segundos {
  line-height: 290px;
  font-size: 40px;
  color: black;
  float: left;
  width: 44px;
  text-align: center;
  height: 100%; }
